<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html" 
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui">
 <h:head>
        <title>Editor de textos</title>
    </h:head>
    <h:body>
      <h1> Editando textos com o Prime</h1>
      <p:editor />
    </h:body>
</html>
