<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html" 
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui">
 <h:head>
        <title>Países</title>
    </h:head>
    <h:body>
 		<h:form>
	      	Digite o seu país:	
 			<p:autoComplete value="#{paisesMBean.pais}" completeMethod="#{paisesMBean.completar}" />
 		</h:form>
    </h:body>
</html>
